@import "_variable.scss";
@import "_mixin.scss";
@import "app.scss";

.calendar-week {
    margin-left: 2px;
    cursor: pointer;
}

.custom-icon {
    margin-right: 10px;
}

.custom-tab {
    display: flex;
    align-items: center;
    min-width: 250px;
}

.custom-style {
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
}

.header-text {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.time-style {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
}

.ed-time{
    margin-top: 20px;
}
.container_flx{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

.time-container {
    margin-left: 15px;
    margin-right: 15px;
}

.additional-text {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 13px;
    font-weight: lighter;
    font-family: 'Lato';
}

.custom-header {
    background-color: white;
}

.head-textstyle {
    color: black;
}

.mouse-over {
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .calendar{
    flex-direction:column;
    }
    .calendar__list{
        flex-direction:column;
        }
    .calendar__item{
    width:275px;
    }
    
  }